.container {
  display: flex;
  flex-direction: column;
  padding: 10px 10%;
}

.button {
  display: inline-block;
  height: 32px;
  flex: 0 0;
  margin-bottom: 10px;
  background-color: #050;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 32px;
  text-align: center;
}