.container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.word {
  text-align: center;
  flex: 0 0 34px;
}

.testSpace {
  flex: 1 1 calc(100% - 34px);
  overflow: auto;
}
