@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
  --background-color: #fff8e2;
  --text-color: black;
}

body {
  margin: 0;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}
