.container {}

.word {
  text-align: center;
}

.declination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  --row-height: 24px;
}

.title {
  line-height: 24px;
}

.hint {
  font-style: italic;
}

.input {
  height: 20px;
  margin: 2px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
}

.input:focus {
  margin-bottom: 1px;
  outline: none;
  border-bottom: 2px solid black;
}

.error {
  color: red;
}